
<html>
<% if @user.errors.any? %>
  <div id="error_explanation" style = "color: red">
    <div class="alert alert-danger">
      <strong><%= pluralize(@user.errors.count, "error") %> detected.</strong>
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <a><%= msg %></a><br />
    <% end %>
    </ul>
  </div>
<% end %>
</html>
