<style>
	td {
		width: 50px;
		border: solid;
	}
	
	th {
		width: 50px;
		border: solid;
	}
	
	a.button {
	    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		box-shadow:inset 0px 1px 0px 0px #ffffff;
		background-color:transparent;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		border:1px solid #000000;
		display:inline-block;
		cursor:pointer;
		color:#000000;
		font-weight:bold;
		padding:6px 24px;
		text-decoration:none;
		text-shadow:0px 1px 0px #ffffff;
	}
	
	a.button:hover {
		background-color: #D3D3D3;
		color: #000000;
	}
</style>


<% @result.each do |p| %>
<table style="table-layout: fixed; width:400; border-style: solid;">
	<tr>
	<% p.keys.each do |k|%>
		<th><%= k %></th>
	<% end %>
	</tr>
	<tr>
	<% p.values.each do |v|%>
		<td><%= v %></td>
	<% end %>
	</tr>
	  </table>
	  <h1> </h1>
	  <h1> </h1>
	  <h1> </h1>
<% end %>
</table>

<a href="/start" class="button">Go to Main Search</a>
